<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('includes/head'); %>
</head>
<body>
    <%- include('includes/navBar'); %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-4">
                <h1 class="display-4 text-center mb-3">
                    Contato
                </h1>
                <p class="text-center lead mb-4">Crie ou edite seus contatos</p>
                
                <!-- Ãrea de mensagens -->
                <%- include('includes/messages') %>
                
                <div class="cadastro">
                    <% if(contato._id){ %>
                    <form class="row g-3" action="/contato/edit/<%= contato._id %>" method="POST">
                    <% } else{%>
                    <form class="row g-3" action="/contato/register" method="POST">
                    <% } %>    
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        
                        <div class="col-md-6">
                            <label class="form-label">Nome</label>
                            <input value="<%= contato.nome %>" type="text" name="nome" class="form-control" id="inputNome" required>
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">Sobrenome</label>
                            <input value="<%= contato.sobrenome %>" type="text" name="sobrenome" class="form-control" id="inputLastName" >
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input value="<%= contato.email %>" type="email" name="email" class="form-control" id="inputEmail" >
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">Telefone</label>
                            <input value="<%= contato.telefone %>" type="tel" name="telefone" class="form-control" id="inputFone" >
                        </div>
                        
                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Salvar Contato</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <%- include('includes/footer'); %>
</body>
</html>