<%- include('includes/head'); %>

<%- include('includes/navBar'); %>
<div class="container">
    <div class="row">   
        <div class="col-lg-2">

        </div>  
        <div class="col-lg-8 my-4">
            <h1 class="display-1 text-center ">
                Login
            </h1>
            <p class="text-center lead">suas tarefas estão abaixo</p>

            <div class="row">
                <div class="col-lg">
                    <h4 class="">Faça seu cadastro</h4>
                    <p>Se você não tem conta, crie logo uma</p>
                    <div class="cadastro">
                        <form class="row g-3" action="/login/register" method="POST">
                            <input type="hidden" name="_csrf" value=<%=csrfToken%> >
                            <div>
                                <label>Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div>
                                <label>Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg">
                    <h4>Login</h4>
                    <p>Se você já tem conta, crie logo uma</p>
                    <div class="cadastro">
                        <form class="row g-3" action="/login/register" method="POST">
                            <input type="hidden" name="_csrf" value=<%=csrfToken%> >
                            <div>
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" id="inputEmail4">
                            </div>
                            <div>
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
    
            </div>

        </div>
        <div class="col-lg-2">
            
        </div>
    </div>
</div>

<%- include('includes/footer'); %>